html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 384px;
}

h1 {
    font-family: 'Menlo', monospace;
    font-size: 2em;
    font-size: 400;
    margin: 0;
    color: #22577E;
}

a:link, a:visited {
    color: #000;
    outline: 0;
    text-decoration: none;
}

.modal-header {
    align-items: center;
    /* border-bottom: 0.5px solid #dadada; */
}

.modal-content {
    padding: 0 20px;
}

.logo {
    padding: 16px;
}

.logo-icon {
    width: 48px;
    vertical-align: text-bottom;
    margin-right: 12px;
}

.version {
    color: #444;
    font-size: 18px;
}

/* Tabs */
/* Style the tab */
.tab {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #f1f1f1;
}
  
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5em 2em;
    transition: 0.3s;
    font-size: 17px;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
}

.tabcontent2 {
    display: none;
}

/* Page selector */
#page-selector {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Collapsibles */
.collapsible {
    background-color: #e7e9eb;
    transition: 0.3s;
    cursor: pointer;
    padding: 0.8em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible-2 {
    transition: 0.3s;
    cursor: pointer;
    padding: 0.5em;
    flex-direction: row !important;
}

.active, .collapsible:hover, .collapsible-2:hover {
    background-color: #d9d9d9;
}

/* ingeklapt */
.collIcon:after {
    width: 1em;
    content: '\2B9A';
    font-weight: bold;
    float: left;
    margin: 0 0.5em;
}

.collIcon-2:after {
    content: '\23F5';
}

/* uitgeklapt */
.collIcon-2.active:after {
    content: '\23F7';
}

.collIcon.active:after {
    content: "\2B9F";
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.sub-content {
    padding: 1em;
}

.content-divider {
    display: flex;
    justify-content: left;
}

/* Color tab */
#colorWell {
    visibility: hidden;
}

#color-display {
    cursor: pointer;
    border: 1px solid grey;
    height: 2em;
    width: 2em;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

#hex-wrapper {
    padding: calc(1em - 8px);
}

#hex-input {
    width: 5em;
}

/* Custom background section */
#cbh {
    display: flex;
    justify-content: left;
}

#button-wrapper {
    padding: calc(1em - 5px);
}

#imgURL-container {
    padding-bottom: 1em;
}

.apply {
    padding: 5px;
    background-color: #efefef;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
    transition: 0.3s;
}

.messageContainer {
    outline: none;
    border: 1px solid #000;
}

.message {
    padding: 0 5px;
    caret-color: #000;
    outline: none;
    color: gray;
}

/* Presets */

#preset-container {
    overflow: auto;
    max-height: 15em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.preset-card {
    /* display: inline-block; */
    padding: 0.5em 0 0.5em 0;
    flex-basis: 33.333333%;
    text-align: center;
}

.preset-icons {
    width: 96px;
    height: 54px;
    border-radius: 12px;
    border: 2px solid grey;
    cursor: pointer;
}

/* List page */

.list-container {
    max-height: 256px;
    overflow: auto;
    margin: 1em;
    padding: 1em;
    padding-top: 0;
    border: 1px solid gainsboro;
}

.list-entry-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid rgb(218, 179, 255);
    margin-bottom: 1px;
}

.title {
    text-align: center;
    font-size: medium;
    padding: 0.5em;
}

.bg-not-found {
    padding: 5px;
}

.entry-line {
    display: flex;
}

.entry-button {
    height: 16px;
    padding: 3px;
    border: 1px solid darkgray;
    cursor: pointer;
}

.delete-regex-list {
    margin-left: auto;
}

.entry-input-field {
    width: calc(100% - 24px);
    height: 24px;
    background-color: rgb(214, 210, 255);
    border: 0;
    outline: 0;
    padding: 0 0.5em;
}

/* Exempt RegEx CSS */
.small-text {
    font-size: 75%;
    text-align: center;
}

#exempt-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
}

.exempt-container-card {
    display: flex;
    flex-direction: column;
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(121, 121, 121);
}

/* slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  input:checked + .slider {
    background-color: #22577E;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #22577E;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }